<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b2dba3">  <td>22/07/26 16:10:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;validateTitle.initialize()[pri:0, instance:Academy.validateTitle@4d18aa28]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1636322481</td>   <td></td> </tr>
<tr bgcolor="b2dba3">  <td>22/07/26 16:11:18</td>   <td>21113</td> <td>&nbsp;</td><td title="&lt;&lt;validateTitle.teardown()[pri:0, instance:Academy.validateTitle@4d18aa28]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1636322481</td>   <td></td> </tr>
<tr bgcolor="b2dba3">  <td>22/07/26 16:11:18</td>   <td>21074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="validateTitle.validateAppTitle()[pri:0, instance:Academy.validateTitle@4d18aa28]">validateAppTitle</td> 
  <td>main@1636322481</td>   <td></td> </tr>
</table>
